
/* font size for paragraph */
p {
    font-size: 22px;
}

/* added background Image */
body {
    background-image: url(https://i.pinimg.com/originals/b4/31/1c/b4311c17c04a3d94f05d781948a409f4.jpg);
}



/* @media all and (max-width=400px){
    .col-sm-3 {
        padding: 10px;
    } */
/* } */

.footer {
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    text-align: center;
    border-top: 4px solid gold;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }